.graph-section{display: flex; flex-direction: row; gap: 10px;}
.bargrpah-container{height: 45vh; width: 75vw;}
.graph_container{background-color: #f4f2ee;border-radius: 7px; margin-left: 15px;}
.piechart-container{height: 45vh; width: 25vw;  background-color: #f4f2ee;border-radius: 7px;}
.top-nav{height: 7vh; width: 100%;}
.graph{height: 37vh; width: 100%; }
.graph canvas{width: 53vw !important;}
.top-nav{display: flex; flex-direction: row; gap: 75%; align-items: center; justify-content: center;}
.text p{font-weight: bold; font-size: 15px;}
.custom-select select{ border: none; color: #a59c9c; border-radius: 5px; padding: 5px; font-size: 14px; background-color: #eaeafa;}